api:

  deployment:
    replicas: 2
  resources:
    enabled: false
  service:
    type: ClusterIP
frontend:

  deployment:
    replicas: 2
  resources:
    enabled: false
  service:
    type: ClusterIP

ingress:
  host: ipgeolocation-prod.devopsclass.shop
